backoff==1.10.0
censys==2.0.3
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
click-plugins==1.1.1
colorama==0.4.4
commonmark==0.9.1
idna==2.10
OTXv2==1.5.12
pyfofa==1.0.0
Pygments==2.9.0
python-dateutil==2.8.1
python-dotenv==0.18.0
pytz==2021.1
requests==2.25.1
rich==10.3.0
shodan==1.25.0
six==1.16.0
types-requests==0.1.11
urllib3==1.26.6
XlsxWriter==1.4.3
zoomeye==2.0.4.6.5
